.page-content {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 1rem;
  
}

/* Styles globaux pour les thèmes clair et sombre */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

/* Styles spécifiques pour le header */
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

/* Styles spécifiques pour le footer */
.footer {
  padding: 20px;
  text-align: center;
}